venv
*.pyc
staticfiles
.env
.DS_Store
.vscode

pg_command.txt
command2.txt
db.sqlite3
.ipynb_checkpoints/Untitled-checkpoint.ipynb
Untitled.ipynb
keyword.sql

extract/favicon.ico

extract/test_aws.py
extract/updateModel.py
extract/pointer_generator/produce_data/finished_files/test*
extract/pointer_generator/produce_data/finished_files/test*
.vscode
extract/pointer_generator/produce_data/finished_files/test*
extract/visual.ipynb
extract/.ipynb_checkpoints/visual-checkpoint.ipynb
