[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true

[packages]
Django = "*"
gunicorn = "*"
django-heroku = "*"
requests = "*"

[requires]
python_version = "3.6"

[dev-packages]
pylint = "*"
"autopep8" = "*"
