[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true

[packages]
Django = "*"
gunicorn = "*"
django-heroku = "*"
requests = "*"
"a9ad57a" = {path = "./jieba", editable = true}
pytrends = "*"
gensim = "*"
sklearn = "*"

[requires]
python_version = "3.6"

[dev-packages]
pylint = "*"
"autopep8" = "*"
rope = "*"
