.cus-tag-container {
  position: relative;
  min-height: calc(100vh - 56px);
}

.start-container {
  display: inline-flex;
  width: 100%;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  margin: 20px 0 10px 0;
}

h2.demo-title {
  margin-bottom: 0px;
  margin-right: 8px;
  text-align: center;
}

.cus-start {
  margin-right: 8px;
}

.cus-start:hover, #copyTag:hover {
  background-color: #ced4da;
  border: solid 1px #ced4da;
  transition: 0.5s;
}

.cus-start:focus, #copyTag:focus {
  outline: none;
  box-shadow: initial;
}

#title, #article {
  border: solid 1px #ced4da;
  border-radius: 4px;
  margin-bottom: 8px;
  padding: 8px 5px;
}

#title:focus, #article:focus {
  outline: none;
}

#article {
  margin-bottom: 40px;
}


/*
 * bootstrap-tagsinput v0.8.0
 *
 */

.bootstrap-tagsinput {
  background-color: #fff;
  border: solid 1px #ced4da;
  padding: 8px 0;
  display: inline-block;
  color: #555;
  vertical-align: middle;
  border-radius: 4px;
  width: 100%;
  line-height: 22px;
  cursor: text;
  border: none;
}

/* .bootstrap-tagsinput:focus {
  outline: none;
} */

.bootstrap-tagsinput input {
  border: none;
  box-shadow: none;
  outline: none;
  background-color: transparent;
  padding: 8px 6px;
  margin-top: 5px;
  width: 100%;
  max-width: inherit;
  border: solid 1px #ced4da;
  border-radius: 4px;
}
.bootstrap-tagsinput.form-control input::-moz-placeholder {
  color: #777;
  opacity: 1;
}
.bootstrap-tagsinput.form-control input:-ms-input-placeholder {
  color: #777;
}
.bootstrap-tagsinput.form-control input::-webkit-input-placeholder {
  color: #777;
}
/* .bootstrap-tagsinput input:focus {
  border: none;
  box-shadow: none;
} */
.bootstrap-tagsinput .badge {
  margin: 2px;
  color: #fff;
  background-color: #2b88d9;
  padding: 8px 10px;
  border-radius: 3px;
  border: 1px solid #2b88d9;
  font-size: 14px;
  font-weight: lighter;
}
.bootstrap-tagsinput .badge [data-role="remove"] {
  margin-left: 8px;
  cursor: pointer;
}
.bootstrap-tagsinput .badge [data-role="remove"]:after {
  content: "×";
  padding: 0px 4px;
  background-color:rgba(0, 0, 0, 0.3);
  border-radius:50%;
  font-size:13px
}
.bootstrap-tagsinput .badge [data-role="remove"]:hover:after {
  background-color:rgba(0, 0, 0, 0.62);}
.bootstrap-tagsinput .badge [data-role="remove"]:hover:active {
  box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
}

#tagsinput {
  width: 100%;
  border: 1px solid #ced4da;
  border-radius: 0.25rem;
  margin-bottom: 5px;
}

.cus-alert {
  word-wrap: break-word;
}

.top-link {
  font-size: 14px;
  position: absolute;
  bottom: 20px;
  right: 25px;
}

@media screen and (max-width: 320px) {
  h2.demo-title {
    width: 100%;
    margin-bottom: 5px;
  }
}
