{% load staticfiles %}
<html>
<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>關鍵字擷取 Demo</title>

    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.0/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="{% static "css/my-login.css" %}">
    <link rel="stylesheet" type="text/css" href="{% static "css/tagsinput.css" %}">
    <link rel="icon" href="{% static "favicon.ico" %}" type="image/x-icon">
    <style>
      body {
        padding-top: 54px;
      }
      @media (min-width: 992px) {
        body {
          padding-top: 56px;
        }
      }

    </style>
</head>

<body>
    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
      <div class="container">
        <a class="navbar-brand nav-customized" href="https://www.cw.com.tw" target="_blank">《天下雜誌》x《人工智慧學校》</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item active">
              <a class="nav-link" href="/">首頁
                <span class="sr-only">(current)</span>
              </a>
            </li>
            <li class="nav-item active">
              <a class="nav-link" href="/abstract_view">摘要生成
                <span class="sr-only">(current)</span>
              </a>
            </li>
            <li class="nav-item active">
              <a class="nav-link" href="{% url 'admin:index'%}">管理介面
                <span class="sr-only">(current)</span>
              </a>
            </li>

            {% if user.is_authenticated %}
            <li class="nav-item active">
              <a class="nav-link" href="{% url 'logout'%}?next=/">登出
                <span class="sr-only">(current)</span>
              </a>
            </li>
            {% endif %}
          </ul>
        </div>
      </div>
    </nav>
    {% block content %}
    {% endblock %}
</body>
</html>
